<div ng-controller="DetailCtrl" class="content">
  <div class="row">
  	<div class="col-sm-6 col-sm-offset-3 card">
		<div class="col-sm-6">
			<p style="font-size: 18px">
				<b>A New Hope</b>
			</p>
			<div>
				w4r3243 243243243243 24324324
			</div>
		</div>
		<div class="col-sm-6">
			<p>Movies</p>
			<div class="text">
				Return 
			</div>
		</div>
  	</div>  	
  </div>
  <div class="row" style="margin-top: 20px">
  	<div class="col-sm-6 col-sm-offset-3 text">
  	<a type="button" ui-sref="list" class="btn btn-link">❮ Back</a>
  	</div>  	
  </div>
</div>

