<div ng-controller="ListCtrl" class="content">
  <div class="row">
    <div class="col-sm-4 card">
      <p>
        <b>Select what you're searching for:</b>
      </p>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="search_mode" value="People">People</label>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="search_mode" value="Movies">Movies</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-sm" ng-model="search" 
          ng-keyup="$event.keyCode == 13 && onSearch()" 
          placeholder="{{search_mode == 'People' ? 'e.g. Chewbacca, Yoda, Boba Fett' : 'e.g. Empire Strikes Back, The Force Awakens'}}">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="onSearch()">Search</button>
      </div>  
    </div>  
    <div class="col-sm-8">
      <div class="hint_panel text-center" style="display: table; width: 100%" ng-show="item_list.length < 1">
        <div style="display: table-cell;vertical-align: middle; color: #798d84">          
          <span ng-show="loading" us-spinner></span>
          <div ng-if="loading" style="margin-top: 100px" ng-bind-html="search_message">           
          </div>        
          <div ng-if="!loading" style="margin-top: 100px" ng-bind-html="hint_message">           
          </div>        
        </div>  
      </div>
      <div class="card" ng-show="item_list.length > 0">
        <div ng-repeat="item in item_list">
          <div class="row">
            <div class="col-sm-8" style="margin-top: 7px">
              <span class="text-right text" style="font-size: 18px"><b>{{search_mode == 'People' ? item.name : item.title}}</b></span>
            </div>  
            <div class="col-sm-4 text-right">
              <a type="button" class="btn btn-default btn-sm" ng-click="detail(item)">See Details</a>
            </div>          
          </div>
          <hr ng-show="!$last" style="margin-top: 9px; margin-bottom: 15px">
        </div>          
      </div>
    </div>
  </div>
</div>
