<div ng-controller="ListCtrl" class="content">
  <div class="row">
    <div class="col-sm-4 card">
      <p>
        <b>Select what you're searching for:</b>
      </p>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="optradio">People</label>
        <label class="radio-inline"><input type="radio" name="optradio">Movies</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-sm" id="usr">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm">Search</button>
      </div>  
    </div>  
    <div class="col-sm-8">
      <div class="hint_panel text-center" style="display: table; width: 100%">
        <div style="display: table-cell;vertical-align: middle; color: #798d84">          
          <span us-spinner></span>
          <div style="margin-top: 100px" ng-bind-html="message">           
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>
